
.container {
    background: url("../img/background1.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.container-content {
    width: 1025px;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 22px;
    text-decoration: none;
}

.link-logo {
    display: flex;
}

.link-logo:hover .link-logo__image {
    fill: #F26522 !important;
}

.link-logo:hover .title {
    color: #F26522;
}

.link-logo:hover .accent-size {
    color: #F26522;
}

.logo-image2 {
    display: none;
}

.link-logo:hover .logo-image2 {
    display: block;
}

.link-logo:hover .logo-image {
    display: none;
}

.title {
    margin: 0;
    padding-left: 8px;
    font-weight: 700;
    font-size: 29px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.accent-size {
    font-weight: 700;
    font-size: 18px;
    Line-height: 18px;
    color: #FFFFFF;
}

.container-number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.mail:hover {
    color: #F26522;
}

.number:hover {
    color: #F26522;
}

.mail {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.number {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.list-attraction {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 37px;
    column-gap: 62px;
}
.item-attraction{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.item-attraction:hover .title-attraction{
    color: #F26522;
}
.title-attraction {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 0;
    text-align: center;
}
.container-attraction{
    width: 300px;
    background: #F26522;
    display: none;
    justify-content: space-between;
    position: absolute;
   top: 165px;
}
.item-attraction:hover .container-attraction{
    display: flex;
}
.info-text{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.item-price-from{
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 16px;
    margin-top: 7px;
    margin-bottom: 8px;
}
.item-price-number{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 16px;
    margin-bottom: 12px;
}
.item-details{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 29px;
    margin-bottom: 12px;
}
.item-details:after{
    content: ">";
    margin-left: 16px;
    margin-right: 16px;
}
.copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-top: 49px;
    margin-bottom: 15px;
    text-align: center;
}
.copyright-text {
    margin: 0;
}
.item-details-image{
    margin-right: 16px;
    margin-left: 16px;
}
